.ui-button-slider {
  width: 36px;
  height: 36px;

  cursor: pointer;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray-400);
  border-radius: 50%;
  background-color: var(--white);
  font-size: 24px;
  transition: border 0.25s ease;

  &:hover:not(.ui-button-slider--is-disabled) {
    border-color: var(--green);
  }

  &--is-disabled {
    opacity: 0.7;

    cursor: not-allowed;
    box-shadow: none;
  }
}
