.layout-default {
  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: var(--padding-container-top-bottom);
    margin-top: calc(env(safe-area-inset-top) + var(--header-height) + var(--padding-medium));
  }
}
