.layout-default {
  &__wrapper {
    margin-top: calc(env(safe-area-inset-top) + var(--header-height) + var(--padding-medium));

    display: flex;
    flex-direction: column;
    row-gap: var(--padding-container-top-bottom);
  }

  &__widgets {
    position: fixed;
    right: 0;
    bottom: var(--padding-medium);
    left: 0;
    z-index: 200;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
