.base-order-invoice {
  height: fit-content;

  display: flex;
  flex-direction: column;
  padding: var(--padding-medium);
  border: 1px solid var(--gray-400);
  border-radius: var(--border-radius-small);
  background-color: var(--white);
  row-gap: 12px;

  @media (min-width: 768px) {
    row-gap: 16px;
  }

  &__group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__caption {
    font-family: var(--font-title);
    font-size: var(--font-size-large);
  }
}
