.ui-switch {
  position: relative;
  height: 40px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: stretch;
  padding: var(--padding-tiny);
  overflow: hidden;
  border: 1px solid var(--gray-400);
  border-radius: var(--border-radius-small);

  &__action {
    position: relative;
    z-index: 2;
    width: 50%;
    height: calc(100% - (var(--padding-tiny) * 0.5));
    flex-grow: 1;

    cursor: pointer;
    text-align: center;
    transition: color 0.25s ease;

    &--is-active {
      color: var(--gray-300);
    }

    &--is-first {
      &.ui-switch__action--is-active ~ .ui-switch__slider {
        left: 1px;

        display: block;
      }
    }

    &--is-last {
      &.ui-switch__action--is-active ~ .ui-switch__slider {
        left: 50%;

        display: block;
      }
    }
  }

  &__slider {
    position: absolute;
    top: 1px;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: calc(50% - 1px);
    height: calc(100% - 2px);
    height: calc(100% - (var(--padding-tiny) * 0.5));

    display: none;
    border-radius: var(--border-radius-small);
    background: var(--green);
    transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
