.ui-button {
  $self: &;

  position: relative;
  width: fit-content;
  flex-shrink: 0;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 15px;
  border: 1px solid transparent;
  border-radius: var(--border-radius-small);
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
  transition: color 0.25s ease, border-color 0.25s ease, background-color 0.25s ease;
  transition-property: transform;

  &--disabled {
    opacity: 0.6;

    cursor: not-allowed;
  }

  &--view-default {
    border-color: var(--gray-400);
    background-color: var(--white);

    &#{$self}--is-active {
      border-color: var(--green);
      color: var(--green);
    }

    &:hover:not(.ui-button--disabled) {
      border-color: var(--green);
    }
  }

  &--view-primary {
    background-color: var(--green);
    color: var(--white);

    &#{$self}--is-active {
      border-color: var(--green);
      color: var(--green);
    }

    &:hover:not(.ui-button--disabled) {
      background-color: var(--green-soft);
    }
  }
}
