.ui-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    transition-property: transform;
    border-radius: var(--border-radius-small);
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    padding: 11px 15px;
    transition: color .25s ease, border-color .25s ease, background-color .25s ease;
    white-space: nowrap;
    width: fit-content;

    &--disabled {
        cursor: not-allowed;
        opacity: 0.8;
    }

    &--is-active {
        border-color: var(--green);
        color: var(--green);
    }

    &--view-default {
        background-color: var(--white);
        border: 1px solid var(--btn-border-color,var(--gray-400));

        &:hover:not(:disabled) {
            border-color: var(--green);
        }
    }

    &--view-primary {
        background-color: var(--green);
        color: var(--white);

        &:hover:not(:disabled) {
            background-color: var(--green-soft);
        }
    }
}
