.admin-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;

    &__info {
        color: var(--gray-700);
        font-family: var(--font-text);
        font-size: var(--font-size-small);
        font-weight: 600;
    }
}
