.ui-slider {
    position: relative;

    &--view-catalog {
        padding-left: 40px;
        padding-right: 40px;
    }

    &__swiper {
        width: 100%;
        overflow: hidden;
    }

    &__button-prev,
    &__button-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 25;
        transition: opacity 0.3s ease;

        &--disabled {
            opacity: 0.3;
            pointer-events: none;
        }
    }

    &__button-prev {
        left: 0;
    }

    &__button-next {
        right: 0;
    }
}
