.product-group {
  $self: &;

  &__header {
    #{$self}--view-only & {
      margin-bottom: 16px;

      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    #{$self}--view-full & {
      margin-bottom: var(--padding-container-top-bottom);

      display: none;

      @media (min-width: 568px) {
        display: block;
      }
    }
  }

  &__view-all {
    flex-grow: 0;
    flex-shrink: 0;

    cursor: pointer;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    color: var(--green);
    font-size: 15px;
    font-weight: 700;
    line-height: 19px;
    transition: color 0.25s ease;

    &:hover {
      color: var(--green-soft);
    }
  }

  &__icon {
    font-size: 24px;
  }

  &__types {
    margin-bottom: 20px;
  }
}
