.base-catalog {
  transition: all 0.25s ease;
  height: var(--catalog-height);

  &--is-scrolled {
    position: sticky;
    top: calc(env(safe-area-inset-top) + 65px);
    right: 0;
    left: 0;
    z-index: 75;

    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--white);
  }

  .swiper-slide {
    width: auto !important;
    flex-shrink: 0;
  }
}
