.ui-button-icon {
    background-color: var(--white);
    border: 1px solid var(--gray-400);
    border-radius: 8px;
    cursor: pointer;
    display: grid;
    place-items: center;
    transition: border-color .25s ease;

    &:hover {
        border-color: var(--green);
    }

    &--size-m {
        width: 32px;
        height: 32px;
        font-size: 16px;

        @media (min-width: 768px) {
            width: 40px;
            height: 40px;
            font-size: 20px;
        }
    }

    &--size-s {
        width: 28px;
        height: 28px;
        font-size: 16px;

        @media (min-width: 768px) {
            width: 32px;
            height: 32px;
            font-size: 20px;
        }
    }
}
