.ui-button-icon {
  cursor: pointer;

  display: grid;
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  background-color: var(--white);
  transition: border-color 0.25s ease;
  place-items: center;

  &:hover {
    border-color: var(--green);
  }

  &--size-m {
    width: 36px;
    height: 36px;
    font-size: 16px;

    @media (min-width: 768px) {
      width: 40px;
      height: 40px;
      font-size: 20px;
    }
  }

  &--size-s {
    width: 28px;
    height: 28px;
    font-size: 16px;

    @media (min-width: 768px) {
      width: 32px;
      height: 32px;
      font-size: 20px;
    }
  }
}
