.page-menu {
  &__subtitle {
    margin-bottom: 0;
    color: #718096;
    font-size: 1.25rem;
  }

  &__categories {
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--padding-container-top-bottom) - var(--padding-mini));
  }

  &__products-list {
    --product-mobile-width: auto;
    --product-card-min-width: 164px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--product-card-min-width), 1fr));
    grid-gap: var(--padding-medium);

    @media (min-width: 768px) {
      --product-card-min-width: 200px;
    }
    @media (min-width: 1100px) {
      --product-card-min-width: 250px;
    }
  }

  &__types {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: flex-start;
    column-gap: 10px;
    overflow-x: auto;
    scrollbar-width: none;

    @media (max-width: 1099px) {
      margin-right: calc(var(--padding-container-left-right) * -1);
      margin-left: calc(var(--padding-container-left-right) * -1);

      padding-right: 22px;
      padding-left: 22px;
    }
    @media (max-width: 767px) {
      padding-right: 14px;
      padding-left: 14px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
