.g-container {
  width: 100%;
  max-width: var(--container);
  margin: 0 auto;

  padding: 0 var(--padding-container-left-right);
}

.g-h1,
.g-h2,
.g-h3 {
  font-family: var(--font-title);
}

.g-h1 {
  font-size: var(--font-size-huge);
}

.g-h2 {
  font-size: var(--font-size-big);
}

.g-h3 {
  font-size: var(--font-size-medium);
}
