@use "variables" as *;
@use "reset" as *;
@use "fonts" as *;
@use "global" as *;

html {
  min-width: var(--html-min-width);
  max-width: var(--html-max-width);
  background-color: var(--gray-300);
  color: var(--gray-800);
  font-family: var(--font-text);
  font-size: var(--font-size-medium);
  line-height: 1.1;
}

body {
  position: relative;
  height: 100vh;

  display: flex;
  flex-direction: column;

  // Safari viewport fixes
  padding-bottom: env(safe-area-inset-bottom, 0);
  padding-bottom: constant(safe-area-inset-bottom, 0); // iOS 11.0-11.2 support
  overflow-x: hidden;
  user-select: none;
  touch-action: pan-x pan-y;
  -webkit-touch-callout: none;
}
